In [1]:
result = [x * x for x in range(1, 21) if x % 3 == 0]
print(result)

squares = {x * x for x in range(5)}
print(squares)

[9, 36, 81, 144, 225, 324]
{0, 1, 4, 9, 16}

In [2]:
# 딕셔너리 컴프리헨션

original = {"a": 1, "b": 2, "c": 3}
double = {k:v * 2 for k, v in original.items()}
print(double)

{'a': 2, 'b': 4, 'c': 6}

In [4]:
result = {
    x: "FizzBuzz" if x % 15 == 0
    else "Fizz" if x % 3 == 0
    else "Buzz" if x % 5 == 0
    else str(x)
    for x in range(1, 21)
}

print(result)

{1: '1', 2: '2', 3: 'Fizz', 4: '4', 5: 'Buzz', 6: 'Fizz', 7: '7', 8: '8', 9: 'Fizz', 10: 'Buzz', 11: '11', 12: 'Fizz', 13: '13', 14: '14', 15: 'FizzBuzz', 16: '16', 17: '17', 18: 'Fizz', 19: '19', 20: 'Buzz'}

In [6]:
# enumerate()

fruits = ['apple', 'banana', 'orange', 'strawberry']

for index, fruit in enumerate(fruits):
    print(index, fruit)

for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

0 apple
1 banana
2 orange
3 strawberry
1 apple
2 banana
3 orange
4 strawberry

“파이썬에서 bool(0.0)은 False고 bool(float('nan'))은 왜 True인가요? 둘 다 ‘비어 있음’을 표현한다고 생각할 수 있는데...”

In [ ]:
name_score = {
    "Alice": 88,
    "Bob": "None",
    "Charlie": 70,
    "David" : 45,
    "Eve" : "None",
    "Frank": 91,
    "Grace": 82,
    "Helen": "None",
    "Ian": 95,
    "Julia": 68
}

grade_map = [n: s]

In [11]:
name_list = ["Alice", "Bob", "Charlie", "David", "Eve","Frank", "Grace", "Helen", "Ian", "Julia"]

score_list = [88, None, 70, 45, None, 91, 82, None, 95, 68]

grade_map = {
    name: (
        "A" if score >= 90 else
        "A" if score >= 80 else
        "A" if score >= 70 else
        "D"
    )
    for name, score in zip(name_score, score_list)
    if score is not None
}

print(grade_map)

NameError: name 'name_score' is not defined